h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

// img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

body {
  font-family: Montserrat;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 20px;
  overflow-x: hidden;
}

// .container {
//   margin: 0 auto;
//   padding-left: 20px;
//   padding-right: 20px;
//   // width: 320px;

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
//   @media screen and (min-width: 1366px) {
//     width: 1366px;
//   }
// }

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section__title {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}
