.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1366px) {
    max-width: 1366px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

