<section class="about">
    <div class="about__container">
        <h2 class="about__title">Teacher</h2>
        <div class="about__wrapper">
            <img class="about__img"
                srcset="images/desktop/teacher.jpg 1x, images/desktop/teacher@2x.jpg 2x"
                src="images/desktop/teacher.jpg" alt="photo">
            <div>
                <h3 class="about__subtitle">Elena Moreva</h3>
                <ul class="about__list list">
                    <li class="about__item item">6 years of experience in preparing students for UPE</li>
                    <li class="about__item item">Own result of passing VNO - 197 points 2 years in a row</li>
                    <li class="about__item item">Passed excellent at the international analogue of UPE - Cambridge PET
                        (Preliminary English Test)</li>
                </ul>
                <span class="about__line"></span>
                <p class="about__text">Graduated from the Institute of International Relations of the NAU with a degree
                    in traslator-analyst.</p>
                <p class="about__text">In spare time takes courses from the best universities in the world on effective
                    teaching and assay writing techniques.</p>
                <p class="about__text">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style
                    (The University of Queesland), How to
                    write an Essay (Berkeley), Acadamic and Business Writing (Berkeley), The Art of teaching (GEMS
                    education), Powerful
                    Tools for Teaching and Learning (University of Houston).</p>
                <a class="about__link" href="#">Cambrige English Entry Level Certificate
                </a>
            </div>
        </div>
    </div>
</section>