<section class="benefits">
    <div class="benefits__container">
        <h4 class="benefits__title">Why do people choose us</h4>
        <ul class="benefits-list">
            <li class="benefits-list__item"> Training in small groups</li>
            <li class="benefits-list__item"> Rendered notes</li>
            <li class="benefits-list__item"> Each lesson has a goal and a specific result</li>
            <li class="benefits-list__item"> The real results of the teacher</li>
            <li class="benefits-list__item"> The course program meets the requirements of the MES of Ukraine</li>
            <li class="benefits-list__item"> Set of groups by level of knowledge</li>
        </ul>
    </div>
</section>