<section class="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title">
      Registration for a <span class="contacts__title--accent">free</span> phone
      <span class="contacts__title--accent">consultation</span> on the nuances of English UPE
    </h2>
    <p class="contacts__text">
      Leave a request for participation in a
      <span class="contacts__text--accent">free lesson</span>.
      <br />
      A consultant will contact you and answer your questions
    </p>
    <form class="contacts__form">
      <input
        class="contacts__input"
        type="text"
        name="username"
        placeholder="Name*"
        pattern="^[A-Za-zА-Яа-яЁё\s]+$"
      />
      <input
        class="contacts__input"
        type="tel"
        name="userphone"
        placeholder="Phone*"
        pattern="[0-9]{5,10}"
      />
      <button class="contacts__button" type="submit">i want a free lesson</button>
    </form>
  </div>
</section>
