<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <a class="footer__logo-link" href="index.html">
        <img class="footer__img-logo" src="/images/tablet/logo.jpg" alt="logo" />
      </a>
    </div>
    <ul class="footer__list">
      <li class="footer__phone">
        <a class="footer__phone-link" href="tel:+380000000000"
          ><svg class="footer__icon-phone">
            <use class="" href="/images/icons.svg#phone"></use>
          </svg>
          +38 (000) 000 00 00</a
        >
      </li>
      <li class="footer__icon-instagram">
        <a class="footer__instagram" href="index.html">
          <img class="footer__img-instagram" src="/images/mobaile/instagram.jpg" alt="logo" />
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__information">
    <p class="footer__desk">@ All rights reserved, 2019</p>
  </div>
</footer>
