
<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo">
      <a class="footer__logo-link" href="index.html">
        <img class="footer__img-logo" src="/images/header/logo.svg" alt="logo of HellEN" />
      </a>
    </div>
    <ul class="footer__list">
      <li class="footer__phone">

        <a class="footer__phone-link" href="tel:+380000000000"
          ><svg class="footer__icon-phone">
            <use class="" href="/images/icons.svg#phone"></use>
          </svg>
          +38 (000) 000 00 00</a>
      </li>
      <li class="footer__icon-instagram"> 
       <a class="footer__instagram" href="index.html"> <div class="footer__box"></div></a>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__information">
    <p class=" container footer__desk">&#64; All rights reserved, 2019</p>
  </div>
</footer>