<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__list list">
      <li class="footer__logo">
        <a class="footer__logo-link link" href="index.html">
          <img class="test" src="/images/mobaile/logo.jpg" alt="logo" />
        </a>
      </li>
      <li class="footer__phone">
        <a class="footer__phone-link link" href="tel:+380000000000">+38 (000) 000 00 00</a>
      </li>
      <li>
        <a class="footer__logo link" href="index.html">
          <img class="test" src="/images/mobaile/instagram.jpg" alt="logo" />
        </a>
      </li>
    </ul>
  </div>
  <div></div>
</footer>
