<header class="header">
  <div class="containerh header__container">
    <nav class="header__nav">
      <a class="logo header__logo" href="index.html"
        ><img class="test" src="/images/tablet/logo.jpg" alt="ff"
      /></a>
      <ul class="menu list">
        <li class="menu__item">
          <a class="menu__link link current" href="">Studying program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">Training options</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header__mobail-menu-btn" data-menu-button>
      <svg class="header__mobail-menu">
        <use href="/images/icons.svg#mobile-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mobail-menu" data-menu>
    <div class="container mobail-menu__container">
      <button type="button" class="mobail-menu__close-btn" data-menu-close>
        <svg class="mobail-menu__close">
          <use href="/images/icons.svg#mobile-close"></use>
        </svg>
      </button>
      <a class="logo header__logo-menu" href="index.html"
        ><img src="/images/mobaile/logomenu.png" alt="ff"
      /></a>
      <ul class="mobail-menu__nav">
        <li class="mobail-menu__item">
          <a class="mobail-menu__link current" href="">Studying program</a>
        </li>
        <li class="mobail-menu__item">
          <a class="mobail-menu__link-about" href="">About</a>
        </li>
        <li class="mobail-menu__item">
          <a href="" class="mobail-menu__link">Training options</a>
        </li>
        <li class="mobail-menu__item">
          <a href="" class="mobail-menu__link">Contacts</a>
        </li>
      </ul>
      <button class="modal-button" type="button">Consultation by phone</button>
    </div>
  </div>
</header>
