<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <a class="header__logo" href="index.html">
        <img class="header__logo-img" src="/images/header/logo.svg" alt="Logo HellEN" />
      </a>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#program">Studying program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#options">Training options</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="consultation-button" type="button">Consultation by phone</button>

    <button class="header__mobile-menu-btn" data-menu-button>
      <svg class="header__mobile-menu">
        <use href="/images/icons.svg#mobile-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-menu>
    <div class="mobile-menu__container" data-menu-close>
      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close">
          <use href="/images/icons.svg#mobile-close"></use>
        </svg>
      </button>
      <a class="header__logo-menu" href="index.html">
          <img class="header__logo-img" src="/images/header/logo-menu.svg" alt="Logo HellEN" />
      </a>
      <ul class="mobile-menu__nav">
        <li class="mobile-menu__item">
          <a href="#program" class="mobile-menu__link" data-menu-close>Studying program</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#about" class="mobile-menu__link">About</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#options" class="mobile-menu__link">Training options</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#contacts" class="mobile-menu__link">Contacts</a>
        </li>
      </ul>
      <button class="mobile-menu__btn" type="button">Consultation by phone</button>
    </div>
  </div>
</header>

