<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <a class="header__logo" href="index.html">
        <picture>
          <source srcset="/images/header/logo.svg" media="(min-width: 768px)" />
          <source srcset="/images/header/logo-mobile.svg" media="(max-width: 767px)" />
          <img class="header__logo-img" src="/images/header/logo.svg" alt="Logo HellEN" />
        </picture>
      </a>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Studying program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Training options</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="consultation-button" type="button">Consultation by phone</button>

    <button class="header__mobile-menu-btn" data-menu-button>
      <svg class="header__mobile-menu">
        <use href="/images/icons.svg#mobile-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-menu>
    <div class="mobile-menu__container">
      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close">
          <use href="/images/icons.svg#mobile-close"></use>
        </svg>
      </button>
      <a class="header__logo-menu" href="index.html">
        <picture>
          <source srcset="/images/header/logo-menu.svg" media="(min-width: 768px)" />
          <source srcset="/images/header/logo-menu-mobile.svg" media="(max-width: 767px)" />
          <img class="header__logo-img" src="/images/header/logo-menu.svg" alt="Logo HellEN" />
        </picture>
      </a>
      <ul class="mobile-menu__nav">
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Studying program</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">About</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Training options</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Contacts</a>
        </li>
      </ul>
      <button class="mobile-menu__btn" type="button">Consultation by phone</button>
    </div>
  </div>
</header>
