<section id="options" class="how-do-we">
    <div class="container how-do-we__container">
        <h2 class="how-do-we__title">How do we do it</h2>
        <ul class="how-do-we-list list">
            <li class="how-do-we-list__item">
                <a href="#" class="how-do-we-list__link link">
                    <div class="how-do-we-list__box-icon">
                        <svg class="how-do-we-list__icon" width="46" height="48">
                            <use href="./images/icons.svg#how-we-do-1"></use>
                        </svg>
                    </div>
                    <div class="how-do-we-list__content">
                        <h3 class="how-do-we-list__subtitle">Adapted program <br> preparation for UPE</h3>
                        <p class="how-do-we-list__description">You will learn grammar and vocabulary at the same
                            time.
                            And you will learn how to write essays.
                        </p>
                    </div>
                </a>
            </li>
            <li class="how-do-we-list__item">
                <a href="#" class="how-do-we-list__link link">
                    <div class="how-do-we-list__box-icon">
                        <svg class="how-do-we-list__icon" width="48" height="47">
                            <use href="./images/icons.svg#how-we-do-2"></use>
                        </svg>
                    </div>
                    <h3 class="how-do-we-list__subtitle">Classroom and online <br> learning</h3>
                    <p class="how-do-we-list__description">The teacher will help not only in the classroom, but also
                        during
                        home preparation.Parents can chat if they wish.
                    </p>
                </a>

            </li>
            <li class="how-do-we-list__item">
                <a href="#" class="how-do-we-list__link link">
                    <div class="how-do-we-list__box-icon">
                        <svg class="how-do-we-list__icon" width="69" height="48">
                            <use href="./images/icons.svg#how-we-do-3"></use>
                        </svg>
                    </div>
                    <h3 class="how-do-we-list__subtitle">The habit of reading in <br> English</h3>
                    <p class="how-do-we-list__description">Articles from sources that are used in the development of
                        this
                        UPE will be received by phone twice a week.
                    </p>
                </a>

            </li>
            <li class="how-do-we-list__item">
                <a href="#" class="how-do-we-list__link link">
                    <div class="how-do-we-list__box-icon">
                        <svg class="how-do-we-list__icon" width="49" height="48">
                            <use href="./images/icons.svg#how-we-do-4"></use>
                        </svg>
                    </div>
                    <h3 class="how-do-we-list__subtitle">Psychological <br> support</h3>
                    <p class="how-do-we-list__description">We will teach you testing techniques, the ability to plan
                        your
                        confidence training in itself.
                    </p>
                </a>

            </li>
            <li class="how-do-we-list__item">
                <a href="#" class="how-do-we-list__link link">
                    <div class="how-do-we-list__box-icon">
                        <svg class="how-do-we-list__icon" width="40" height="48">
                            <use href="./images/icons.svg#how-we-do-5"></use>
                        </svg>
                    </div>
                    <h3 class="how-do-we-list__subtitle">Training on copyright <br> manuals</h3>
                    <p class="how-do-we-list__description">You don't have to waste your time on a search for
                        material
                        and to
                        buy anything extra. We have compiled 2 manuals for you.
                    </p>
                </a>

            </li>
            <li class="how-do-we-list__item">
                <a href="#" class="how-do-we-list__link link">
                    <div class="how-do-we-list__box-icon">
                        <svg class="how-do-we-list__icon" width="58" height="48">
                            <use href="./images/icons.svg#how-we-do-6"></use>
                        </svg>
                    </div>
                    <h3 class="how-do-we-list__subtitle">Ability to comprehend spoken <br> English</h3>
                    <p class="how-do-we-list__description">“F.R.I.E.N.D.S” won't help you. You will listen regularly
                        and
                        analyze audio recordings in accordance with the studied vocabulary.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>