.about {
  @media screen and (max-width: 767px) {
    padding-top: 19px;
    padding-bottom: 25px;
  }

  @media screen and (max-width: 1365px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1365px) {
    padding-top: 64px;
    padding-bottom: 77px;
  }
}

.about__container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: 440px;
  }

  @media screen and (max-width: 1365px) {
    max-width: 728px;
  }

  @media screen and (min-width: 1365px) {
    max-width: 1326px;
  }
}

.about__title {
  font-family: Montserrat;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);

  @media screen and (max-width: 1365px) {
    margin-bottom: 30px;
    font-size: 26px;
  }

  @media screen and (min-width: 1366px) {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.about__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}

.about__img {
  @media screen and (max-width: 1365px) {
    max-width: 243px;
    margin-right: 40px;
  }

  @media screen and (min-width: 1366px) {
    max-width: 530px;
    margin-right: 30px;
  }
}

.about__subtitle {
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: 0.08em;

  color: (--accent-text-color);
  border-bottom: 1px solid #b9b9b9;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 1365px) {
    padding-bottom: 10px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1366px) {
    padding-bottom: 15px;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 1.23;
  }
}

.about__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    padding-left: 27px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 35px;
  }
  @media screen and (max-width: 1365px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1366px) {
    margin-bottom: 57px;
  }
}

.about__item {
  position: relative;

  font-weight: 600;
  letter-spacing: 0.06em;

  color: var(--accent-text-color);

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    background-image: url('../images/about-icons/tick.svg');
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width: 1365px) {
      left: -28px;
      width: 17px;
      height: 14px;
    }

    @media screen and (min-width: 1366px) {
      left: -35px;
      width: 24px;
      height: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.21;
  }

  @media screen and (min-width: 768px) and (max-width: 1365px) {
    font-size: 12px;
    line-height: 1.25;
  }

  @media screen and (max-width: 1365px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1366px) {
    font-size: 16px;
    line-height: 1.25;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.about__line {
  display: inline-block;
  border-bottom: 2px solid var(--accent-link-color);
  width: 20px;
  @media screen and (max-width: 767px) {
    margin-bottom: 21px;
  }

  @media screen and (max-width: 1365px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1366px) {
    margin-bottom: 30px;
  }
}

.about__text {
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.67;
  }

  @media screen and (max-width: 1365px) {
    font-size: 10px;
    line-height: 2;
  }

  @media screen and (min-width: 1366px) {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.about__link {
  color: var(--accent-link-color);
  text-decoration: underline;

  @media screen and (max-width: 1365px) {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.66;
  }

  @media screen and (min-width: 1366px) {
    margin-top: 48px;

    font-size: 18px;
    line-height: 1.56;
  }
}
// ===================CERTIFICATE================
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  z-index: 99;
  overflow-y: scroll;
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__close-button {
  position: absolute;
  top: 2px;
  right: 7px;
  fill: var(--accent-text-color);
  cursor: pointer;
}

.modal__close-button:hover,
.modal__close-button:focus {
  fill: var(--accent-link-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 699px) {
    width: 98%;
    height: 350px;
  }
  @media screen and (min-width: 700px) and (max-width: 767px) {
    width: 700px;
    height: 500px;
  }

  @media screen and (min-width: 768px) and (max-width: 1365px) {
    width: 700px;
    height: 500px;
  }

  @media screen and (min-width: 1366px) {
    width: 59%;
    height: 80%;
  }

  @media screen and (max-height: 800px) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.certificate {
  display: block;
  width: 100%;
  height: 100%;
}
