.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.advantages {

  background-color: var(--accent-header);
  padding-top: 30px;
  padding-bottom: 50px;
  &__title-adapted::before,
  &__title-modern::before,
  &__title-financial::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    min-width: 61px;
    height: 63px;
    margin-right: 10px;
    background-repeat: no-repeat;

  }
  &__title-adapted::before {
    background-image: url(/images/mobaile/group1.svg);
  }
  &__title-modern::before {
    background-image: url(/images/mobaile/group2.svg);
  }
  &__title-financial::before {
    background-image: url(/images/mobaile/group3.svg);

  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.64;
    display: flex;
    align-items: center;

    letter-spacing: 0.08em;
    color: var(--accent-text-color);
  }
}

@media only screen and (max-width: 767px) {
  .advantages__icon:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
    &__icon:not(:last-child) {
      margin-bottom: 0px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-left: -20px;
      margin-top: -20px;
    }
    &__icon {
      margin-left: 20px;
      margin-top: 20px;
      flex-basis: calc((100% - 60px) / 3);
    }

  }
}
@media screen and (min-width: 1366px) {
  .advantages {
    padding-top: 0px;
    padding-bottom: 130px;
    &__list {
      margin-left: 0px;
      margin-top: 0px;
    }
    &__icon {
      margin-left: 0px;
      margin-top: 0px;
      flex-basis: calc((100% - 320px) / 3);
    }
    &__title {
      font-size: 20px;
      line-height: 1.65;
    }
    &__title-adapted::before,
    &__title-modern::before,
    &__title-financial::before {
      min-width: 102px;
      height: 104px;
      margin-right: -18px;
    }
    &__title-adapted::before {
      background-image: url(/images/desktop/group1.svg);
    }
    &__title-modern::before {
      background-image: url(/images/desktop/group2.svg);
    }
    &__title-financial::before {
      background-image: url(/images/desktop/group3.svg);
    }
  }
}
