.benefits {
  background-image: linear-gradient(to bottom, #111518 50%, #ffffff 20%);

  counter-reset: number;
  padding-bottom: 50px;

  .benefits__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    color: var(--accent-header);
    margin-bottom: 30px;
  }
}

.benefits__container {
  width: 100%;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 768px;
  }

  @media screen and (min-width: 1366px) {
    padding-top: 164px;
    padding-left: 183px;
    padding-right: 183px;
    max-width: 1316px;
  }
}
//
.benefits-list {
  padding: 19px 30px;

  background-color: var(--accent-header);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  &__item {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.43;
    letter-spacing: 0.08em;
    color: var(--accent-text-color);
    margin-top: 44px;

    counter-increment: number;
    position: relative;

    &::before {
      content: '' counter(number);
      position: absolute;
      color: var(--accent-link-color);
      top: -30px;
      left: 30px;
    }

    &:nth-child(-n + 9):before {
      content: '0' counter(number);
    }

    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: var(--accent-link-color);
      top: -20px;
      left: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 96px;

    &__item {
      margin-left: 22px;
      flex-basis: calc((100% - 44px) / 2);
    }
  }
}

@media screen and (min-width: 1366px) {
  .benefits-list {
    padding: 62px 112px;

    &__item {
      font-size: 20px;
      line-height: 1.4;
      margin-top: 75px;
      margin-left: 40px;
      flex-basis: calc((100% - 120px) / 3);

      &::before {
        top: -40px;
      }

      &::after {
        top: -25px;
      }
    }
  }
}
