/* стили значка инстаграма */
.footer__box {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
  background-image: url('/images/desktop/instagram.svg');
  background-repeat: no-repeat;
}
.footer__phone-link {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--accent-text-color);
  align-items: center;
}
.footer__icon-phone {
  margin-right: 10px;
  width: 30px;
  height: 19px;
  fill: var(--accent-link-color);
}

.footer__container {
  text-align: center;
}
.footer__logo {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 22px;
}

.footer__img-logo {
  width: 80px;
  text-align: center;
}

.footer__desk {
  text-align: center;
}
.footer__phone {
  margin-bottom: 31px;
}

@media screen and (min-width: 768px) {
  .footer__box {
    margin-bottom: 0px;
  }

  .footer__container {
    display: flex;
    width: 768px;
  }
  .footer__list {
    display: flex;
    align-items: center;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
  .footer__desk {
    margin: 0 auto;
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer__phone {
    padding-right: 24px;
    margin-bottom: 0;
  }
  .footer__icon-instagram {
    display: flex;
    border-left: 1px solid var(--main-text-color);
    padding-left: 24px;
  }
  .footer__logo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .footer__container {
    width: 1366px;
    justify-content: left;
    align-items: center;
    padding-left: 26px;
    padding-right: 26px;
  }
  .footer__logo {
    margin-right: 300px;
  }
  .footer__desk {
    width: 1366px;
    margin: 0 auto;
    padding-left: 0px;
  }
  .footer__phone-link {
    font-size: 30px;
    line-height: 1.23;
    color: var(--accent-text-color);
  }
  .footer__icon-phone {
    margin-right: 15px;
  }
}

.footer__information {
  background: var(--accent-text-color);
}
.footer__desk {
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 14px;
  line-height: 2;
  color: var(--main-text-color);
}
