.header {
  padding: 30px 0px;
  @media screen and (min-width: 768px) {
    padding: 41px 0px;
  }
  @media screen and (min-width: 1366px) {
    padding: 30px 0px;
  }
}

.header__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 481px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media screen and (min-width: 1366px) {
    max-width: 1366px;
    padding: 0 35px;
  }
}

.header__nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  @media screen and (min-width: 1366px) {
    margin-right: 144px;
  }
}
.menu {
  display: none;
  @media screen and (min-width: 1366px) {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21px;
    text-transform: uppercase;
    color: var(--main-text-color);
    &:hover,
    &:focus {
      color: var(--accent-link-color);
    }
  }
}

.consultation-button {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    padding: 15px 5px;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--accent-link-color);
    border: 2px solid var(--accent-link-color);
    background-color: transparent;

    cursor: pointer;
  }
  @media screen and (min-width: 1366px) {
    padding: 27px 24px;
  }
}
.header__mobile-menu-btn {
  display: flex;
  align-items: center;
}
.header__mobile-menu {
  width: 24px;
  height: 16px;
  &-btn {
    padding: 0;
    width: 20px;
    height: 12px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      margin-left: 40px;
    }
    @media screen and (min-width: 1366px) {
      display: none;
    }
  }
}

.mobile-menu {
  z-index: 44;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(17, 21, 24, 0.9);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
 
  @media screen and (min-width: 1366px) {
    display: none;
  }

  &__container {
    position: relative;
    padding: 30px 20px;
    @media screen and (min-width: 768px) {
      padding: 42px 40px;
    }
    @media screen and (min-width: 1366px) {
      display: none;
    }
  }

  &__close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 26px;
    right: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
    @media screen and (min-width: 768px) {
      top: 50px;
      right: 44px;
    }

    @media screen and (min-width: 1366px) {
      display: none;
    }
  }

  &__close {
    width: 15px;
    height: 15px;
    @media screen and (min-width: 1366px) {
      display: none;
    }
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--accent-header);

    &:hover,
    &:focus {
      color: var(--accent-link-color);
    }
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
    @media screen and (min-width: 1366px) {
      display: none;
    }
  }
  &__nav {
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      margin-top: 72px;

      padding-left: 218px;
    }
    @media screen and (min-width: 1366px) {
      display: none;
    }
  }
  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 17px 36px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--accent-link-color);
    border: 2px solid var(--accent-link-color);
    background-color: transparent;

    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

