.how-do-we {
  padding-bottom: 50px;

  &__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      max-width: 480px;
    }

    @media screen and (min-width: 768px) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 768px;
    }

    @media screen and (min-width: 1366px) {
      padding-left: 0px;
      padding-right: 0px;
      max-width: 1316px;
    }
  }

  &__title {
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
    color: var(--accent-text-color);
    margin-bottom: 30px;
  }
}

.how-do-we-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  &__item {
    min-width: 280px;
    min-height: 280px;
    background-color: var(--accent-header);
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__box-icon {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__icon {
    fill: var (--accent-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__subtitle {
    position: relative;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08em;
    color: var(--accent-text-color);
    margin-bottom: 42px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: var(--accent-link-color);
      position: absolute;
      left: 47%;
      margin-top: 20px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__description {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.how-do-we-list__item:hover,
.how-do-we-list__item:focus {
  background-color: var(--accent-link-color);

  .how-do-we-list__icon {
    fill: var(--accent-header);
  }

  .how-do-we-list__subtitle,
  .how-do-we-list__description {
    color: var(--accent-header);
  }

  .how-do-we-list__subtitle::after {
    background-color: var(--accent-header);
  }
}

// 0-767px
@media screen and (max-width: 767px) {
  .how-do-we-list {
    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

// 768px+
@media screen and (min-width: 768px) {
  .how-do-we__title {
    font-size: 26px;
  }

  .how-do-we-list {
    margin-left: -20px;
    margin-top: -20px;

    &__item {
      padding-left: 22px;
      padding-right: 22px;
      max-width: 334px;
      min-height: 334px;
      margin-left: 20px;
      margin-top: 20px;
      flex-basis: calc((100% - 40px) / 2);
    }

    &__box-icon {
      margin-top: 40px;
      margin-bottom: 30px;
    }

    &__subtitle {
      margin-bottom: 52px;

      &::after {
        margin-top: 25px;
      }
    }
  }
}

// 1366px+
@media screen and (min-width: 1366px) {
  .how-do-we {
    padding-bottom: 130px;
    &__title {
      text-align: left;
      font-size: 46px;
    }
  }

  .how-do-we .how-do-we-list {
    &__item {
      padding-left: 30px;
      padding-right: 30px;
      max-width: 425px;
      min-height: 396px;
      flex-basis: calc((100% - 60px) / 3);
    }

    &__subtitle {
      line-height: 1.4;
      margin-bottom: 32px;

      &::after {
        margin-top: 15px;
      }
    }

    &__description {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}
