.section-reviews {
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: 1366px) {
    padding-top: 42px;
    padding-bottom: 103px;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 800;
    font-size: 20px;

    line-height: 1.3;
    text-align: center;
    color: var(--accent-text-color);

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 26px;
    }
    @media screen and (min-width: 1366px) {
      margin-bottom: 50px;
      font-size: 46px;
    }
  }
}

.container-reviews {
  position: relative;

  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 481px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media screen and (min-width: 1366px) {
    max-width: 1366px;
    padding: 0 53px;
  }
}

.reviewer {
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 40px;
    &__column:first-child {
      margin-right: 46px;
      @media screen and (min-width: 1366px) {
        margin-right: 40px;
      }
    }
  }
  @media screen and (min-width: 1366px) {
    padding: 50px 196px 51px 166px;
  }
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    @media screen and (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }
  &__link {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    width: 30px;
    height: 30px;
  }
  &__social {
    fill: #436eab;
  }

  &__name {
    margin-bottom: 10px;

    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    letter-spacing: 0.08em;

    color: var(--accent-link-color);

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.2;
      text-align: left;
    }
    @media screen and (min-width: 1366px) {
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 1.23;
    }
  }

  &__summary {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;

    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;

    color: var(--main-text-color);

    @media screen and (min-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;
      text-align: left;
    }
    @media screen and (min-width: 1366px) {
      padding-right: 210px;
      font-size: 14px;
      line-height: 1.21;
    }
  }
}

.review {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: var(--accent-description);
  &__link {
    font-size: 12px;
    line-height: 1.67;
    text-decoration-line: underline;
    color: var(--accent-link-color);
  }
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    text-align: left;
  }
  @media screen and (min-width: 1366px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.change-reviewer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 30px;
  }
  @media screen and (min-width: 1366px) {
    margin-top: 40px;
  }
  &__collection {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 182px;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      width: 558px;
    }
  }
  &__item--tablet {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__img {
    display: block;
    width: 54px;
    height: 54px;

    cursor: pointer;
  }
  &__img--tablet {
    display: none;
  }

  &__icon {
    width: 25px;

    cursor: pointer;
    fill: var(--accent-link-color);
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 160px;
      &--left {
        left: 27px;
      }
      &--right {
        right: 27px;
      }
    }
    @media screen and (min-width: 1366px) {
      top: 200px;
      &--left {
        left: 53px;
      }
      &--right {
        right: 53px;
      }
    }
  }
}
